@import '../../styles/mixins';

.messages {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: auto;
    color: #232931;
    height: 60vh;
}

.message {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    line-height: 120%;

    @include respond(tab-phone) {
        max-width: 90%;
    }
}

.me {
    align-self: flex-end;

    .text {
        background-color: #fffdd2;
    }
}

.name {
    font-size: 14px;
    padding-left: 8px;
    color: #232931;
}

.text {
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 10px 12px;
    border-radius: 8px;
    background-color: #cba4f1;
}

.serviceMessage {
    background-color: #dddddd;
    padding: 8px 16px;
    border-radius: 24px;
    width: fit-content;
    align-self: center;
    font-size: 14px;
}
