.container {
    width: 80vw;
    height: 80vh;
    background-color: #393e46;
    border-radius: 4px 4px 16px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    color: #eeeeee;
}

.header {
    padding: 16px 24px;
    background-color: #232931;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 24px;
}

.users {
    text-align: center;
}

.form {
    padding: 16px 24px;
    background-color: #232931;
    display: flex;
    gap: 16px;
    justify-self: flex-end;
}

.input {
    padding: 16px;
    width: 100%;
    border-radius: 24px;
    background-color: #393e46;
    border: none;
    color: #eeeeee;
}

.button {
    width: fit-content;
    padding: 16px;
    border-radius: 24px;
    background-color: #4ecca3;
    font-weight: bold;
    border: none;
    color: #eeeeee;
    cursor: pointer;
    margin-left: auto;
}
