@import './_normalize.scss';
@import './_reset.scss';
@import './_mixins.scss';
@import './mixins.scss';

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #eeeeee;
    color: #232931;

    @include respond(tab-phone) {
        font-size: 14px;
    }
}

h1 {
    font-size: 32px;

    @include respond(tab-phone) {
        font-size: 26px;
    }
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0;
    border-radius: 0;
}
