@import '../../../../styles/mixins';

.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    color: #232931;
}

.users {
    text-align: center;
}

.button {
    padding: 16px;
    border-radius: 16px;
    width: fit-content;
    font-size: 14px;
    border: none;
    background-color: #232931;
    color: #eeeeee;
    font-weight: bold;
    margin-left: auto;
    cursor: pointer;

    @include respond(tab-phone) {
        padding: 14px 16px;
        border-radius: 14px;
    }
}
